* {
  border: 1px solid;
  background-repeat: no-repeat;
  background-size: contain;
}
nav {
  background-image: url(images/bg-hero-desktop.svg);
  background-color: rgb(191, 235, 235);
}
.huddle {
  display: flex;
  justify-content: space-between;
}
.huddle img {
  height: 2vh;
}
.huddle button {
  border: none;
  font-size: 1.3rem;
}
.build {
  display: grid;
  grid-row: auto;
  gap: 3vw;
}
.build img {
  height: 25vh;
}
.sections {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 2vw;
}

.sections div {
  text-align: center;
}
.sections img {
  height: 5vh;
}
.ready > * {
  margin: auto;
}
.ready button {
  background-color: pink;
  border: none;
  color: white;
}
footer {
  background-color: rgb(37, 37, 71);
  color: white;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
footer img {
  height: 3vh;
}
