* {
  border: 1px solid;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 18px;
}

nav {
  background-image: url(images/bg-hero-desktop.svg);
  background-color: hsl(193, 100%, 96%);
  margin-bottom: 10%;
}
.huddle {
  display: flex;
  justify-content: space-between;
}
.huddle img {
  height: 2vh;
}
.huddle button {
  background-color: white;

  border-radius: 2rem;
  border: none;
  height: 3vw;
  width: 15%;
  font-size: 0.8rem;
}
.build {
  margin-top: 5%;

  display: flex;
  align-items: center;
  gap: 12vw;
}

.build button {
  background-color: hsl(322, 100%, 66%);
  color: white;
  border-radius: 2rem;
  border: none;
  height: 3.5vh;
  width: 40%;
}

.build img {
  height: 25vh;
}
.sections {
  border-radius: 0.4rem;
  border-color: grey;
  width: 90%;
  margin: 3vh auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7vw;
}

.sections div {
  width: 50%;
}
.sections img {
  height: 20vh;
}
.ready {
  margin: auto;
  text-align: center;
  width: 50%;
}
.ready button {
  background-color: hsl(322, 100%, 66%);
  color: white;
  border-radius: 2rem;
  border: none;
  height: 3.5vh;
  width: 25%;
}
footer {
  background-color: hsl(192, 100%, 9%);
  color: white;
}
footer img {
  height: 4vh;
}

footer section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8%;
}
#before-img p:nth-child(1) {
  font-size: 14px;
}
#before-img p:nth-child(1)::before {
  content: url(images/icon-location.svg);
  margin-right: 4%;
}
#before-img p:nth-child(2)::before {
  content: url(images/icon-phone.svg);
  margin-right: 4%;
}
#before-img p:nth-child(3)::before {
  content: url(images/icon-email.svg);
  margin-right: 4%;
}
footer ul {
  list-style-type: none;
  columns: 2;
  column-gap: 25%;
}
footer ul li {
  margin-bottom: 10%;
}
footer a {
  text-decoration: none;
  color: white;
}
#copy {
  position: relative;
}
#copy p {
  position: absolute;
  bottom: 0;
}
